<div class="limiter">
  <div class="heading">
    <nav class="row sticky-top">
      <div class="col-sm-3 col-3" [routerLink]="['/about']">
        <img src="assets/icons/info-2-32.png" width="30px" height="30px">
        &nbsp; About Us</div>
      <div class="col-sm-6 col-6 title"> Youtube Video(s)</div>
      <div class="col-sm-3 col-3" [routerLink]="['/match-list']">
        <img src="assets/icons/arrow-58-32.png" width="30px" height="30px">
        &nbsp;Matches</div>
    </nav>
  </div>
  <div class="container-login100">
    <div class="scrolling-wrapper">
      <div class="card" *ngFor="let video of videos">
        <div class="card-body">
          <div class="card-title">
            <a href="https://www.youtube.com/watch?v={{video.id.videoId}}"
              target="_blank">
              <img class="yt_vid" [src]="video.snippet.thumbnails.medium.url"
                alt="..."></a>
          </div>
          <div class="card-text" style="width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: white">
            <a>
              {{video.snippet.title}}
            </a>
          </div>
          <!-- <a class="ytTitle"
            href="https://www.youtube.com/watch?v={{video.id.videoId}}">{{video.snippet.title}}
          </a> -->
        </div>
      </div>
    </div>
    <ul>
      <!-- <li class="clickabe-div"
          *ngFor="let item of matchLists; let i= index"
          [routerLink]="['/match-details', item.matchId]">
          <div class="matchIterate">
            <img src="assets/1.png" alt="" />
            <h4 class="play-now">{{item.matchDateTime | date: 'mediumDate' }}</h4>
            <h4 class="play-now">{{item.matchDateTime | date: 'shortTime' }}</h4>
          </div>
        </li> -->
    </ul>
  </div>
  <div class="footer">
    <nav class="row">
      <div class="col-sm-3 col-3" [routerLink]="['/tutorial']">
        <img src="assets/icons/question-mark-32.png" width="30px" height="30px">
        &nbsp; Learn</div>
      <div class="col-sm-6 col-6"></div>
      <div class="col-sm-3 col-3" *ngIf="loggedOut" [routerLink]="['/login']">
        <img src="assets/icons/arrow-32.png" width="30px" height="30px">
        &nbsp;Login</div>
      <div class="col-sm-3 col-3" *ngIf="!loggedOut" (click)="logout()">
        <img src="assets/icons/logout.png" width="30px" height="30px">
        &nbsp;Logout</div>
    </nav>
  </div>
</div>



<!-- <div *ngFor="let video of videos" class="col-xl-3 col-md-6 mb-4">
    <div class="card border-0 shadow vh-50 yt">
      <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank">
        <img [src]="video.snippet.thumbnails.medium.url" alt="..."></a>
      <div class="card-body text-center">
        <h5 class="card-title mb-0">
          <a href="https://www.youtube.com/watch?v={{video.id.videoId}}">{{video.snippet.title}}
          </a></h5>
        
       </div>
    </div>
  </div> -->
  <ngx-spinner></ngx-spinner>
